@page "/orderdialog/{id}"
@using Share.Models
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject Share.Interfaces.IOrderSvc _orderService
@inject NavigationManager navigation
@inject IWebHostEnvironment env

<div class="container">
    <div class="row">
        <div class="col-xl-6 mx-auto">
            <div class="card card-signin flex-row shadow-lg card-signup">
                <div class="card-body">
                    <h2 class="card-title text-center font-weight-bold text-uppercase">Chỉnh sửa đơn hàng</h2>
                    <div class="col-md-12">
                        <form asp-action="Edit" class="form-signin">
                            <EditForm Model="@order" OnValidSubmit="@SubmitForm">
                                <DataAnnotationsValidator />
                                <input type="hidden" @bind="order.OrderId" />
                                <div class="form-label-group">
                                    <label class="control-lable">Khách hàng</label>
                                    <input @bind="order.Customer.FullName" class="form-control" disabled="disabled" />
                                    <input @bind="order.CustomerId" class="form-control" style="display:none" />
                                </div>

                                <div class="form-label-group">
                                    <label class="control-lable">Email</label>
                                    <input @bind="order.Customer.Email" class="form-control" disabled="disabled" />
                                </div>

                                <div class="form-label-group">
                                    <label class="control-lable">Địa chỉ</label>
                                    <input @bind="order.Customer.Address" class="form-control" disabled="disabled" />
                                </div>

                                <div class="form-label-group mt-3">
                                    <label class="control-lable">Ngày đặt</label>
                                    <input type="date" @bind="order.OrderDate" class="form-control" disabled/>
                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                </div>

                                <div class="form-label-group mt-3">
                                    <label class="control-lable">Tổng tiền</label>
                                    <input type="number" @bind="order.Total" class="form-control" disabled/>
                                    <span asp-validation-for="Tongtien" class="text-danger"></span>
                                </div>

                                <div class="form-label-group mt-3">
                                    <label class="control-lable">Trạng thái</label>
                                    <InputSelect @bind-Value="@order.OrderStatus" class="form-control">
                                        <option value="@OrderStatus.CurOrder">Mới đặt</option>
                                        <option value="@OrderStatus.Delivering">Đang giao</option>
                                        <option value="@OrderStatus.Delivered">Đã giao</option>
                                    </InputSelect>
                                </div>

                                <div class="form-label-group mt-3">
                                    <label class="control-lable">Ghi chú</label>
                                    <input @bind="order.Notes" class="form-control" />
                                    <span asp-validation-for="Note" class="text-danger"></span>
                                </div>

                                <div class="form-label-group mt-4">
                                    <button type="submit" class="btn btn-info">Lưu</button>
                                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Thoát" />
                                </div>
                            </EditForm>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
        [Parameter]
        public string id { get; set; }
private Share.Models.Order order { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(id) || id == "0")
        {
            navigation.NavigateTo("orderlist", true);
        }
        else
        {
            order = _orderService.GetOrder(int.Parse(id));
        }
    }
    private void SubmitForm()
    {
        _orderService.EditOrder(order.OrderId, order);
        navigation.NavigateTo("Orderlist");
    }
    public void Cancel()
    {
        navigation.NavigateTo("OrderList", true);
    }
}
