@page "/shipinfolist"
@using Share.Models
@using Share.Helpers
@layout MainLayout
@inject Share.Interfaces.IShipInfoSvc _shipinfoSvc;

<div>
    <h1>Danh sách vận chuyển</h1>
    @if (shipinfoes == null)
    {
        <p><em>Loading ...</em></p>
    }
    else
    {
        <a class="btn btn-success p-10" href="/shipinfodialog/0">Thêm</a>
        <br />
        <br />
        <input type="text" @bind="@SearchString" />
        <button class="btn btn-outline-success" @onclick="OnParametersSet">Tìm</button>
        <button class="btn btn-outline-primary" @onclick="OnInitialized">Danh sách</button>
        <br />
        <br />
        <table class="table table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Tên khách hàng</th>
                    <th scope="col">Địa chỉ giao</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Phương thức thanh toán</th>
                    <th scope="col">Ghi chú</th>
                    <th scope="col">Giá vận chuyển</th>
                    <th scope="col">Đối tác giao hàng</th>
                    <th scope="col">Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in shipinfoes)
                {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.CusName</td>
                    <td>@item.Address</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        @if (item.ShippingMethod)
                        {
                            <span>Giao hàng tận nhà</span>
                        }
                        else
                        {
                            <span>Lấy hàng trực tiếp</span>
                        }
                    </td>
                    <td>@item.Notes</td>
                    <td>@item.Price</td>
                    <td>@item.Partner.DisplayName()</td>
                    <td>
                        <a class="btn btn-info" href="/shipinfodialog/@item.ShipId">Sửa</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public string SearchString { get; set; }

    public List<ShipInfo> shipinfoes { get; set; }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            shipinfoes = _shipinfoSvc.GetAllShipInfo().Where(x => x.CusName.ToUpper().Contains(SearchString.ToUpper())).ToList();
        }
        else
        {
            shipinfoes = _shipinfoSvc.GetAllShipInfo();
        }
    }

    protected override void OnInitialized()
    {
        shipinfoes = _shipinfoSvc.GetAllShipInfo();
    }

}