@page "/login"
@using System.Web;
@using System.ComponentModel.DataAnnotations;
@layout LoginLayout
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]
@*<div class="col-md-4 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">Đăng nhập</h4>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" id="username" @bind="@username" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <input type="password" id="password" @bind="@password" class="form-control" @onkeypress="Enter" placeholder="Password"/>
                </div>
                <button class="ml-md-auto btn btn-dark" @onclick="CheckLogin">LOGIN</button>
                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@((MarkupString)error)</div>
                }
            </div>
        </div>
    </div>*@
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 m-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Đăng Nhập Website</h5>
                    <form class="form-signin">
                        <input type="hidden" />
                        <div class="form-label-group">
                            <input type="text" id="username" @bind="@username" class="form-control" placeholder="Tên đăng nhập" required autofocus />
                            @*<label for="username">Tên đăng nhập</label>*@
                        </div>
                        <div class="form-label-group mt-3">
                            <input type="password" id="password" @bind="@password" class="form-control" @onkeypress="Enter" placeholder="Mật khẩu" required />
                            @*<label for="password">Mật khẩu</label>*@
                        </div>
                        <button class="mt-3 btn btn-lg btn-dark btn-block text-uppercase" @onclick="CheckLogin">Đăng nhập</button>
                        <hr class="my-4">
                        @if (!string.IsNullOrEmpty(error))
                        {
                            <div class="alert alert-danger mt-3 mb-0">@((MarkupString)error)</div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@code{
    private bool loading;
    private string error;

    string username = "";
    string password = "";

    private string Encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (password != "")
            {
                CheckLogin();
            }
        }
    }
    private void CheckLogin()
    {
        error = "";
        if (username == "")
        {
            error = "- Vui lòng nhập Username";
        }
        if (password == "")
        {
            error += (error == "" ? "" : "<br/>" + "- Vui lòng nhập Password");
        }
        if (error == "")
        {
            NavigationManager.NavigateTo("CheckLogin?paramUsername=" + @Encode(@username)
                + "&paramPassword=" + @Encode(@password), true);
        }
    }
}