@page "/login"
@using System.Web;
@using System.ComponentModel.DataAnnotations;
@using Syncfusion.Blazor.Popups
@layout LoginLayout
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Đăng Nhập SaC Website</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="username" @bind="@username" aria-describedby="emailHelp" placeholder="Tên đăng nhập"
                                               required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" @bind="@password" class="form-control form-control-user" @onkeypress="Enter"
                                               id="password" placeholder="Mật khẩu" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Ghi nhớ</label>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" @onclick="CheckLogin">Đăng nhập</button>
                                    @if (!string.IsNullOrEmpty(error))
                                    {
                                        <div class="alert alert-danger mt-3 mb-3">@((MarkupString)error)</div>
                                    }
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/forgotPassword">Quên mật khẩu?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<SfDialog Width="500px" Height="250px" IsModal="true" @bind-Visible="IsVisible">
    <DialogTemplates>
        <Header><i class="fa fa-envelope-open" aria-hidden="true"></i> Thông báo !</Header>
        <Content> Đăng nhập thất bại. Vui lòng kiểm tra lại thông tin </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.FlipXDown" Duration=600 />
    <DialogButtons>
        <DialogButton Content="OK" IsPrimary="true" OnClick="@CloseDialog" />
    </DialogButtons>
</SfDialog>

@code{
    private string error;

    string username = "";
    string password = "";

    private string Encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            if (password != "")
            {
                CheckLogin();
            }
        }
    }
    private void CheckLogin()
    {
        error = "";
        if (username == "")
        {
            error = " Vui lòng nhập tài khoản";
        }
        if (password == "")
        {
            error += (error == "" ? "" : "<br/>") + " Vui lòng nhập mật khẩu";
        }
        if (error == "")
        {
            NavigationManager.NavigateTo("CheckLogin?paramUsername=" + @Encode(@username)
                + "&paramPassword=" + @Encode(@password), true);
        }
        else
        {
            OpenDialog();
        }
    }

    private bool IsVisible { get; set; }

    private void OpenDialog()
    {
        IsVisible = true;
    }

    private void CloseDialog()
    {
        IsVisible = false;
    }
}
