@page "/login"
@using System.Web;
@using System.ComponentModel.DataAnnotations;
@using Share.Models;
@using Share.Models.ViewModels;
@using Blazored.Toast
@using Blazored.Toast.Services
@using Syncfusion.Blazor.Popups
@layout LoginLayout
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]
@inject IToastService toastService
@inject Share.Interfaces.IUserSvc _userService

<style>
    #button {
        background-color: #E53935;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        width: 60px;
    }

    .e-popup.e-popup-open.e-dialog {
        border-radius: 20px;
    }

    .e-dialog .e-dlg-header-content {
        background-color: #FF5252;
        border-radius: 20px 20px 0px 0px;
    }

        .e-dialog .e-dlg-header-content + .e-dlg-content {
            padding: 0;
        }

    .e-dialog .e-dlg-header {
        position: relative;
        font-size: 25px;
        font-weight: bold;
        color: linen;
        margin-left: 10px;
    }

    .e-dialog .e-footer-content {
        padding: 15px;
        border-radius: 0px 0px 20px 20px;
    }

    .e-dialog .e-dlg-header-content {
        padding: 6px;
    }

    .dialogText {
        color: #D50000;
        font-size: 20px;
        margin: 44px 11px;
        font-weight: 700;
    }

    .e-dialog .e-dlg-header-content .e-btn.e-dlg-closeicon-btn {
        margin-right: 10px;
    }

    .e-dialog .e-dlg-header-content .e-icon-dlg-close {
        color: #FFFFFF;
        margin-top: 10px;
    }

    .e-dlg-header, .e-dlg-header * {
        color: #FFFFFF;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Đăng Nhập SaC Website</h1>
                                </div>
                                <form class="user" @onsubmit="CheckLogin">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="username" @bind="@username" aria-describedby="emailHelp" placeholder="Tên đăng nhập"
                                               required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" @bind="@password" class="form-control form-control-user"
                                               id="password" placeholder="Mật khẩu" required>
                                    </div>

                                    <button class="btn btn-primary btn-user btn-block" type="submit">Đăng nhập</button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/forgotPassword">Quên mật khẩu?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<SfDialog Width="509px" Height="220px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogTemplates>
        <Header><i class="fa fa-exclamation-triangle"></i> Thông báo!</Header>
        <Content>
            <h1 class="dialogText">Đăng nhập thất bại! Tài khoản đã dừng hoạt động!</h1>
        </Content>
        <FooterTemplate>
            <button id="button" @onclick="@CloseDialog" class="e-control e-btn" data-ripple="true">OK</button>
        </FooterTemplate>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.FlipXDown" Duration=600 />
</SfDialog>

@code{
    private ToastParameters _toastParameters;

    string username = "";
    string password = "";

    private string Encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
    //public void Enter(KeyboardEventArgs e)
    //{
    //    if (e.Code == "Enter" || e.Code == "NumpadEnter")
    //    {
    //        CheckLogin();
    //    }
    //}
    private void CheckLogin()
    {
        _toastParameters = new ToastParameters();
        if (username == "")
        {
            _toastParameters.Add(nameof(Notification.Title), "Vui lòng nhập tài khoản!");
            _toastParameters.Add(nameof(Notification.IsSuccess), false);
            toastService.ShowToast<Notification>(_toastParameters);
        }
        if (password == "")
        {
            _toastParameters.Add(nameof(Notification.Title), "Vui lòng nhập mật khẩu!");
            _toastParameters.Add(nameof(Notification.IsSuccess), false);
            toastService.ShowToast<Notification>(_toastParameters);
        }
        if (username != "" && password != "")
        {
            var viewLogin = new ViewLogin() { UserName = username, Password = password };
            User user = _userService.Login(viewLogin);
            if (user != null)
            {
                if (user.Status == false)
                {
                    OpenDialog();
                }
                else
                {
                    NavigationManager.NavigateTo("CheckLogin?paramUsername=" + @Encode(@username)
                    + "&paramPassword=" + @Encode(@password), true);
                }
            }
            else
            {

                _toastParameters.Add(nameof(Notification.Title), "Đăng nhập thất bại! Vui lòng kiểm tra lại thông tin");
                _toastParameters.Add(nameof(Notification.IsSuccess), false);
                toastService.ShowToast<Notification>(_toastParameters);
            }
        }
    }

    private bool IsVisible { get; set; }

    private void OpenDialog()
    {
        IsVisible = true;
    }

    private void CloseDialog()
    {
        IsVisible = false;
    }
}