@page "/userlist"
@using Share.Models
@using Share.Helpers
@layout MainLayout
@inject Share.Interfaces.IUserSvc _userService
<h1 class="font-weight-bold text-center">Danh sách người dùng</h1>
@if (users == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <div class="text-right">
        <button type="button" class="btn btn-success btn-circle btn-md">
            <a style="text-decoration:none;" href="/userdialog/0"><i class="fa fa-plus" style="color:white;font-size:20px;"></i></a>
        </button>
        <br />
        <br />
        <div class="">
            <input type="text" @bind="@SearchString" />
            <button class="btn btn-outline-success" @onclick="OnParametersSet"><i class="fa fa-search"></i></button>
            <button class="btn btn-outline-primary" @onclick="OnInitialized">Danh sách</button>
        </div>
        <br />
        <br />
    </div>

    <table class="table table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Tài khoản</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Ngày sinh</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in users)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.FullName </td>
                    <td>@item.Email</td>
                    <td>@item.DoB.Date.ToString("dd/MM/yyyy")</td>
                    <td>@item.Roles.DisplayName()</td>
                    <td>
                        @if (item.Status)
                        {
                            <span>Hoạt động</span>
                        }
                        else
                        {
                            <span>Không hoạt động</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-info" href="/userdialog/@item.UserId">Sửa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter]
    public string SearchString { get; set; }
    public List<User> users;
    protected override void OnInitialized()
    {
        users = _userService.GetAllUser();
    }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            users = _userService.GetAllUser().Where(x => x.FullName.ToUpper().Contains(SearchString.ToUpper())).ToList();
        }
        else
        {
            users = _userService.GetAllUser();
        }
    }
}