@page "/productlist"
@using Share.Models
@using Share.Helpers
@layout MainLayout
@inject Share.Interfaces.IProductSvc _productSvc;
@inject IModalService modal

@if (products == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <div class="text-right">
        <a style="text-decoration:none;" @onclick="@(() => ShowModalProduct(0))" class="btn btn-success btn-circle btn-md">
            <i class="fa fa-plus mt-2" style="color:white;font-size:20px;"></i>
        </a>
    </div>
    <div class="row">
        <h1 class="col-6 font-weight-bold text-left">
            Danh sách sản phẩm
        </h1>
        <div class="col-6 text-right">
            <br />
            <input type="text" @bind="@SearchString" />
            <button class="btn btn-outline-success" @onclick="OnParametersSet"><i class="fa fa-search"></i></button>
            <button class="btn btn-outline-primary" @onclick="OnInitialized">Danh sách</button>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Giá</th>
                <th scope="col">Phân loại</th>
                <th scope="col" style="width:20%">Hình</th>
                <th scope="col">Trạng thái</th>
                @*<th scope="col" style="width:30%">Thông tin</th>*@
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in products)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Category.DisplayName()</td>
                    <td><img src="images/Product/@item.Image" style="width:150px; height:150px" /></td>
                    <td>
                        @if (item.Status)
                        {
                            <span>Còn hàng</span>
                        }
                        else
                        {
                            <span>Hết hàng</span>
                        }
                    </td>
                    @*<td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                                    Launch demo modal
                                </button>
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @((MarkupString)item.Description)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </td>*@
                    <td>
                        <button class="btn btn-info" @onclick="@(() => ShowModalProduct(item.ProductId))">Xem thông tin</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}

@code {
    [Parameter]
    public string SearchString { get; set; }



    public List<Product> products { get; set; }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            products = _productSvc.GetAllProduct().Where(x => x.ProductName.ToUpper().Contains(SearchString.ToUpper())).ToList();
        }
        else
        {
            products = _productSvc.GetAllProduct();
        }
    }

    protected override void OnInitialized()
    {
        products = _productSvc.GetAllProduct();
    }

    void ShowModalProduct(int prodId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ProductDialog.id), prodId.ToString());
        string title;
        if (prodId == 0)
        {
            title = "Thêm sản phẩm";
        }
        else { title = "Cập nhật sản phẩm"; }
        modal.Show<ProductDialog>(title, parameters);
    }
}