@page "/productlist"
@using Share.Models
@using Share.Helpers
@layout MainLayout
@inject Share.Interfaces.IProductSvc _productSvc;

<div>
    <h1 class="font-weight-bold text-center">Danh sách sản phẩm</h1>
    @if (products == null)
    {
        <p><em>Loading ...</em></p>
    }
    else
    {
<div class="text-right">
    <a style="text-decoration:none;" href="/productdialog/0"><button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-plus"></i></button></a>
    <br />
    <br />
    <div class="">
        <input type="text" @bind="@SearchString" />
        <button class="btn btn-outline-success" @onclick="OnParametersSet"><i class="fa fa-search"></i></button>
        <button class="btn btn-outline-primary" @onclick="OnInitialized">Danh sách</button>
    </div>
    <br />
    <br />
</div>

        <table class="table table-hover text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tên</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Phân loại</th>
                    <th scope="col" style="width:20%">Hình</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col" style="width:30%">Thông tin</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Category.DisplayName()</td>
                        <td><img src="images/Product/@item.Image" style="width:150px; height:150px" /></td>
                        <td>
                            @if (item.Status)
                            {
                                <span>Còn hàng</span>
                            }
                            else
                            {
                                <span>Hết hàng</span>
                            }
                        </td>
                        <td>@item.Description</td>
                        <td>
                            <a class="btn btn-info" href="/productdialog/@item.ProductId">Sửa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    [Parameter]
    public string SearchString { get; set; }

    public List<Product> products { get; set; }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            products = _productSvc.GetAllProduct().Where(x => x.ProductName.ToUpper().Contains(SearchString.ToUpper())).ToList();
        }
        else
        {
            products = _productSvc.GetAllProduct();
        }
    }

    protected override void OnInitialized()
    {
        products = _productSvc.GetAllProduct();
    }

}